<section class="footer" id="footer" tabindex="0">
    <div class="upperFooter">
        <div class="socialAndAddress">
            <section class="socialContent">
                <ul>
                    <li><img src="resource\media\socialIcon\icons8-instagram-50.png" alt="instagram logo"></li>
                    <li><img src="resource\media\socialIcon\icons8-linkedin-50.png" alt="linked in logo"></li>
                    <li><img src="resource\media\socialIcon\icons8-whatsapp-50.png" alt="whatsapp logo"></li>
                    <li><img src="resource\media\socialIcon\icons8-youtube-50.png" alt="youtube logo"></li>
                </ul>
            </section>
            <section class="footerDetail">
                <div class="footerLogoContainer">
                    <img src="resource\media\general\footer_logo.png" alt="">
                </div>
                <div class="address">
                    <p>PUNARAPI ECO TILES PVT LTD, Plot no.51/B,</p>
                    <p>Karnad Industrial Area, Mulki,</p>
                    <p>Mangalore Taluk, D.K District</p>
                    <p>Karnataka</p>
                    <p>574154</p>
                </div>
                <div>
                    <p>Reach our offices at: +91 89712 93007</p>
                </div>
            </section>
        </div> 
        <section class="mapContent">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1576.1144569753833!2d74.79725733605711!3d13.07019158276458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35362e6b3e15d%3A0x470d6a85ce5771d6!2sPunarapi%20Eco%20Tiles%20Private%20limited!5e0!3m2!1sen!2sin!4v1697086065695!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>
    </div>
    <div class="lowerFooter">
        <p>Terms and conditions</p>
        <p>Copyright © 2023 Punarapi. All rights reserved.</p>
    </div>
</section>