<nav class="navbar-wrapper">
    <div class="navbar">
        <div class="navtop">
            <img src="resource\media\general\Logo-2.png" alt="Loading" class="logo">
            <button class="hamburger">
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
        <ul class="navlist">
            <li class="hover-underline-animation"><a href="/#product">Product</a></li>
            <li class="hover-underline-animation"><a href="/#quality">Quality</a></li>
            <li class="hover-underline-animation"><a href="/#review-section">Review</a></li>
            <li class="hover-underline-animation"><a href="/#blog-section">Blog</a></li>
            <li class="hover-underline-animation"><a href="/#request-sample">FAQs</a></li>
            <button class="contact_us">Contact Us<a href="#"></a></button>
            
        </ul>
    </div>
</nav>
