<nav class="navbar-wrapper">
    <div class="navbar">
        <div class="navtop">
            <img src="resource\media\general\Logo-2.png" alt="Loading" class="logo">
            <button class="hamburger">
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
        <ul class="navlist">
            <li>Product<a href="#product"></a></li>
            <li>Quality<a href="#"></a></li>
            <li>Review<a href="#"></a></li>
            <li>Blog<a href="#"></a></li>
            <li>FAQs<a href="#"></a></li>
            <button class="contact_us">Contact Us<a href="#"></a></button>
            
        </ul>
    </div>
</nav>

<!-- <a target="_blank" href="https://icons8.com/icon/dMz54mFbVirR/menu">Hamburger Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <img src="public\resource\media\general\hamburger.gif" alt="Options"> -->