@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500;600;800&display=swap');
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cormorant SC", sans-serif;
    background-color: rgba(255, 190, 190, 0);
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100%;
}


/*navbar*/

/*add the animation in the navbar the one from shift*/

.navbar-wrapper {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 2rem;
}

.navbar{
    width: 100%; 
    max-width: 1084px;
    height: 75px;
    margin: 3rem;
    display: flex;
    align-items: center;  
    background-color: rgba(245, 245, 245, 0.664);
    border-radius: 50px;
    padding: 18px;
    backdrop-filter: blur(10px);
    z-index: 100;
    top: 2rem;
}


.logo {
    position: relative;
    margin-left: 10px;
    width: 150px;
    height: auto;
    cursor: pointer; 
    background-color: transparent;
    /* the space between the logo
    the left end of the navbar is
    smaller than the button and right end */
}

.navlist{
    display: flex;
    list-style: none;
    background-color: transparent;
    justify-content: space-around;
    padding: 0px;
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 0px;
    align-items: center;
}

.navlist li {
    position: relative;
    top: 3px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    font-size: 17px;
    font-weight: 800;
}

.contact_us{
    position: relative;
    color: aliceblue;
    background-color: rgb(136, 0, 255);
    border: none;
    border-radius: 50px;
    width: 150px;
    font-size: 20px;
    height: 45px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    cursor: pointer;
}

.contact_us:hover {
    background-color: #70b5ff;
    transform: scale(1.05);
}



.primary_request img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}



@media screen and (max-width: 800px) {
    .navlist li:not(.contact_us) {
        display: none;
        

    }
    .contact_us {
        margin-left: auto;
    }
}

@media screen and (min-width: 1020px){
    .navlist{
        position: relative;
        left:23px;
    }
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    left: 0;
    top: -175px;
}
/* Styles for the carousel product-list li */
.carousel {
    left: 0;
    right: 0;
    width: 100%;
    height: 690px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Styles for the image slide product-list li */
.carousel-slide {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(resource/pan1-1.jpg);/*figure this out for some reason it works without this*/
    z-index: 2;
}

/* Styles for individual images */
/*.carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover; Adjust object-fit property as needed 
    min-width: 100%;
    min-height: 100%;
}*/

/* Styles for carousel buttons */
.carousel-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 690px;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 50px;
    z-index: 3;
    position: absolute;
}

.carousel1{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.prev-button {
    left: 0;
    width: 50%;
    height: 1380px;
    top: 0;
}

.next-button {
    right: 0;
    width: 50%;
    height: 1380px;
    top: 0;
}
/*u have to stop the hover function when with is computer is reduced less dan maybe 400px*/
.product{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 80px; /* NOTE: change for mobile*/
}



.product-list{
    display: flex;
    list-style: none;
    position: relative;
    left: 16px;
    
}
  
  .product-list li {
    width: 24rem;
    height: 17rem;
    display: flex;
    transition: width 0.3s, height 0.3s, transform 0.3s;
    transform: translateX(0) translateY(0);
    margin-right: -10rem;
    position: relative;
    
  }


@media screen and (max-width: 900px){
    .product{
        display: flex;
        width: 100%;
        height: 1050px;
        padding-top: 0px;
        
    }
    .product-list{
        display: flex;
        flex-direction: column;
        top: -40px;
        gap: 30px;
    }

    .request_sample-product_button{
        position: relative;
        bottom: -20px;
    }
    
}

@media screen and (max-width: 577px){
    .product{
        display: flex;
        width: 100%;
        height: 1050px;
        padding-top: 0px;
        
    }
    .product-list{
        display: flex;
        flex-direction: column;
        top: -40px;
        gap: 30px;
        overflow: hidden;
    }

    .request_sample-product_button{
        position: relative;
        bottom: -20px;
    }
    
}

  .product-list li a{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
  
  
  .product-list li:hover {
    width: 24rem;
    height: 25rem;
    transform: translateY(-12%) translateX(-25%); /* Move up and to the left */
    z-index: 4; /* Set a higher z-index for the hovering li */
    border-radius: 20px;
    overflow: hidden;
  }
  
  .tile-le, .tile-r {
    transition: 0.3s;/*transform 0.3s, width 0.3s, height 0.3s*/
  }
  
  .tile-le {
    flex: 1;
    width: 24rem;
    height: 17rem;
    z-index: 4;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .tile-r {
    background-color: rgb(255, 255, 255);
    flex: 1;
    width: 6rem;
    height: 17rem;
    transform: translateX(-100%) translateY(0);
    transition: 0.3s;
    z-index: 3;
    border-radius: 20px;
    overflow: hidden;
    
  }
  
  .product-list li:hover .tile-r {
    transform: translateX(0) translateY(0);
    width: 24rem;
    height: 25rem;
    border-radius: 0px;
    overflow: hidden;
    
  }
  
.r-cont{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 45px;
}

.r-cont p{
    font-size: 20px;
    color: black;
}

.r-cont button{
    border: none;
    background-color: antiquewhite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    border-radius: 40px;
    width: 70px;
    height: 20px;
    transition: 0.3s ease-in;
    position: relative;
}

.r-cont button:hover{
    position: relative;
    transform: scale(1.2) translateY(-5px);
    background-color: antiquewhite;
}
    

  .product-list li:hover .tile-le {   /*    NOTE: NOT WORKING      */
    width: 24rem;
    height: 25rem;
    border-radius: 0px;
    overflow: hidden;
  }
  
.request_sample-product_button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 160px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    position: absolute;
    transition: 0.5s ease-in;
    cursor: pointer;
    bottom: 40px;
}

.product-list li img{
    height: 25rem;
    width: auto;
    object-fit: fill;
}

.tile-le h2{
    position: relative;
    bottom: 150px;
    transform: translateX(0) translateY(-100%);
    color: aliceblue;
    left: 10px;
    width: 50px;
    transition: 0.3s;
}



.product-list li a {
    text-decoration: none;
}

.product-list li:hover .tile-le h2{
    font-size: 35px;
}

.product-list li:hover .request_sample-product_button{          /*    NOTE: NOT WORKING      */
    transform: scale(1.5);
    background-color: #70b5ff;
    
}





.footer{
    position: relative;
    height: 100vh;
    width:100%;
}

.map-cont{
    height: 100%;
    width: 100%;
}


