.blog-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2rem;
    padding: 5rem 10rem;
    padding-right: 0;

    background-image: url('/resource/media/bg/pattern.svg');
    background-size: 150vh;
    background-repeat: repeat;
}

.blog-title {
    font-size: 4rem;
    font-family: 'Codec Cold Trial Heavy';
}

.blog-subtitle {
    font-size: 1.2rem;
    width: 50%;
    font-family: 'Codec Cold Trial Regular';
}

.videos-container {
    width: 100%;
    overflow-x: auto;
    padding: 0 0 1rem;
    white-space: nowrap;
    box-sizing: border-box;
}

.video-link {
    display: inline-block;
    width: 480px;
    height: 270px;
    margin-right: 2rem;
}

.video {
    width: 480px;
    height: 270px;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .blog-section {
        padding: 5rem 2rem;
        padding-right: 0;
    }

    .blog-subtitle {
        width: 80%;
    }

    .video-link {
        width: 240px;
        height: 135px;
    }
    
    .video {
        width: 240px;
        height: 135px;
    }
}