.contact-request-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 100%;
    color: white;
    font-family: "Codec Cold Trial Regular";
    padding: 10rem 10rem 5rem 10rem;

    background-image: url("/resource/media/bg/pattern-dark.svg");
    background-size: 150vh;
    background-repeat: repeat;
}

#contact-section {
    min-height: 100vh;
}

.contact-request-title-wrapper {
    max-width: 40rem;
    padding-right: 3rem;
}

.contact-request-title {
    font-size: 3.5rem;
    font-family: "Codec Cold Trial Heavy";
}

.contact-request-subtitle {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.form-section-title {
    color: #e15819;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.379);
    font-weight: 600;
    padding: 0.5rem;
    padding-top: 1rem;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
}

.invalid {
    outline: 2px solid #d1260f;
}

.form-item-long {
    grid-column: span 2;
}

.req-sign {
    color: rgb(225, 107, 22);
    text-shadow: 0px 0px 2px black;
}

.form-input {
    padding-left: 0.5rem;
    font-family: "Codec Cold Trial Regular";
    height: 2.2rem;
}

.textarea-input {
    padding-top: 0.5rem;
    height: 5rem;
    resize: vertical;
}

.submit-button {
    font-family: "Codec Cold Trial ExtraBold";
    position: relative;
    background-color: #c16632;
    color: white;
    border: none;
    border-radius: 50px;
    width: 150px;
    font-size: 17px;
    height: 45px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322);
    cursor: pointer;
    padding-top: 3px;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .contact-request-section {
        padding: 5rem 2rem;
        flex-direction: column;
    }

    #contact-section {
        padding-top: 10rem;
    }

    .form-section {
        width: 90vw;
        grid-template-columns: repeat(2, 50%);
    }

    .form-item {
        font-size: 0.8rem;
    }
}
