
.footer{
    color: rgb(236, 224, 224);
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: #2b2b2b;
}

.upperFooter{
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.socialAndAddress{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialContent{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.socialContent ul{
    padding: 40px 0 0 2vw;
}

.socialContent ul li{
    list-style-type: none;
    padding: 0 0 15px 0;
}

.socialContent img{
    height: 30px;
    width: 30px;
}

.footerDetail{
    height: 100%;
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 20px;
}

.footerLogoContainer img {
    height: 150px;
}

.address{
    
}

.mapContent{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapContent iframe{
    width: 80%;
    height: 80%;
    border-radius: 30px;
}


.lowerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


@media screen and (max-width: 950px){
    .footerLogoContainer img {
        height: 130px;
    }
}

@media screen and (max-width: 725px) {
    .footer{
        height: 800px   

    }
    .upperFooter{
        height: 92%;
        display: flex;
        flex-direction: column;
    }

    .socialContent{
        width: 10%;
        justify-content: center;
    }

    .socialAndAddress{
        width: 100%;
        height: 60%;
        padding-top: 20px ;
    }

    .mapContent{
        width: 100%;    
    }

}