.radio-parent {
    position: fixed;
    right: 70px;
    top: 50vh;
    z-index: 100;
    background-color: transparent;
    transform: translateY(-50%);
}

.radio-buttons {
    --s: 0.5em;
    /* control the size */
    --g: 30px;
    /* the gap */
    --c: white;
    /* the active color */

    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--g);
    position: relative;
    font-size: 30px; /*Change the font here*/
}

.radio-buttons-black {
    --c: black;
}

.radio-buttons:before {
    content: "";
    position: fixed;
    height: calc(var(--s) / 2);
    left: calc(var(--s) / 4 + var(--_x, 0px));
    top: calc(var(--s) / 4);
    background: var(--c);
    border-radius: 50%;
    aspect-ratio: 1;
    transition:
        0.4s,
        left cubic-bezier(0.1, -2000, 0.7, -2000) 0.4s;
}

label {
    display: inline-flex;
    line-height: var(--s);
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
    transform-origin: 8.5px 8.5px;
}

input {
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s) / 6) solid var(--c);
    border-radius: 50%;
    outline-offset: calc(var(--s) / 10);
    padding: calc(var(--s) / 8);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    transition: 0.3s;
}

input:checked {
    --_c: var(--c);
}

.radio-buttons:not(:has(input:checked)):before {
    --_i: -1;
    opacity: 0;
}

.radio-buttons:has(input:checked):before {
    opacity: 1;
    transform: translateY(calc(var(--_i) * (var(--s) + var(--g))));
}

.radio-buttons:has(label:nth-child(1) input:checked):before {
    --_i: 0;
    --_x: 0.02px;
}

.radio-buttons:has(label:nth-child(2) input:checked):before {
    --_i: 1;
    --_x: 0.04px;
}

.radio-buttons:has(label:nth-child(3) input:checked):before {
    --_i: 2;
    --_x: 0.06px;
}

input:disabled {
    background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: 0.5;
    cursor: not-allowed;
}

@media print {
    input[type="radio"] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        background: none;
    }
}

@supports not selector(:has(*)) {
    .radio-buttons:before {
        display: none;
    }

    input:checked {
        --_c: var(--c);
        background: var(--c) content-box;
    }
}

@media screen and (max-width: 1200px) {
    .radio-parent {
        right: 50px;
    }

    .radio-buttons {
        --s: 0.8em;
        --g: 26px;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .radio-parent {
        right: 42px;
    }

    .radio-buttons {
        --s: 0.9em;
        --g: 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    .radio-parent {
        right: 35px;
    }

    .radio-buttons {
        --s: 1em;
        --g: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .radio-parent {
        display: none;
    }
}
