@font-face {
    font-family: "Codec Cold Trial Heavy";
    font-style: normal;
    font-weight: normal;
    src:
        local("Codec Cold Trial Heavy"),
        url("/resource/fonts/Codec-Cold-Heavy-trial.woff") format("woff");
}

@font-face {
    font-family: "Codec Cold Trial ExtraBold";
    font-style: normal;
    font-weight: normal;
    src:
        local("Codec Cold Trial ExtraBold"),
        url("/resource/fonts/Codec-Cold-ExtraBold-trial.woff") format("woff");
}

@font-face {
    font-family: "Codec Cold Trial Regular";
    font-style: normal;
    font-weight: normal;
    src:
        local("Codec Cold Trial Regular"),
        url("/resource/fonts/Codec-Cold-Regular-trial.woff") format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    width: 100%;
}

.products {
    position: relative;
    width: 100%;
    height: calc(min(var(--opening), var(--openingMax)) + var(--colorHeight) + var(--gallery) + var(--specs));
    z-index: 0;
    background-color: #d50000;
    top: 0;
    left: 0;
}

.ul {
    width: 100%;
    height: 100%;
}

.products-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

#RTl,
#MTl,
#CTl {
    font-family: "Codec Cold Trial Heavy";
    color: #000000;
}

.mang-til {
    position: absolute;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 3;
}

.rom-til {
    position: absolute;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 2;
}

.rig-til {
    position: absolute;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 0;
}


/*SCROLLBAR*/

/* Track */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    background-color: transparent; /* Make the track transparent */
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
    border-radius: 10px; /* Add border radius to the thumb */
}

/* Hide buttons */
::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}

/* Track Piece */
::-webkit-scrollbar-track-piece {
    background-color: black; /* Make the track piece transparent */
}
