.quality{
    width: 100%;
    height: 100vh;
    padding: 40px 7vw 0px 7vw;
    display: flex;
    flex-direction: column;
    font-family: 'Codec Cold Trial Regular';
}

.qualityHeading h1{
    font-family: 'Codec Cold Trial Heavy';
    font-size: 45px;
}

.qualityLeft{
    display: none;
}

.qualityRight{
    display: none;
}

.choosePoints{
    width: 100%;
    height: 100px;
}

.choosePointsItems{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choosePointsItems li{
    height: 30px;
    list-style: none;
    position: relative;
}

.hover-underline-animation-quality::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 1px;
    left: 0; 
    background: red;
    transform-origin: center;
    transition: transform 0.20s ease-out;
    z-index: 100;
  }

.hover-underline-animation-quality:hover::after {
    transform: scaleX(1);
    transform-origin: center;
    height: 2px;
}

.chooseItem{
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Codec Cold Trial Heavy';
    cursor: pointer;
}

.pointsDisplay{
    width: 100%;
    height: 70%;
}

.pointsListContent{
    width: 100%;
    height: 100%;
    position: relative;
}

.pointsContent{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e6ceb5;
    list-style: none;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
}

.pointsPara{
    width: 35%;
    height: 100%;
    padding: 40px;
}

.pointSentence{
    width: 100%;
    line-height: 1.3;
    font-size: 20px; /* change font for different sizes */
}

.pointsImages{
    width: 65%;
    height: 100%;
    z-index: 1;
    text-align: center;
}

.pointsImages img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .quality{
        height: 80vh;
    }

    .pointSentence{
        font-size: 18px;
    }
}

@media screen and (max-width: 1075px){

    .pointsDisplay{
        height: 60%;
    }

    .pointsContent{
        border-radius: 30px;
    }

    .pointSentence{
        font-size: 14px;
    }
}

@media screen and (max-width: 900px){

    .qualityHeading h1{
        font-size: 30px;
    }

    .chooseItem{
        font-size: 20px;
    }

    .pointsContent{
        border-radius: 25px;
    }

    .pointsPara{
        width: 50%;
    }

    .pointsImages{
        width: 50%;
    }

}

@media screen and (max-width: 650px){
    .pointsContent{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .pointsPara{
        width: 100%;
        height: 40%;
        padding: 20px;
    }

    .pointsImages{
        width: 100%;
        height: 60%;
        text-align: center;
    }
    
    .pointsImages img{
        width: 100%;
        height: auto;
    }

    .chooseItem{
        font-size: 17px;
    }
    
}

@media screen and (max-width: 525px){

    .qualityHeading h1{
        font-size: 25px;
    }

    .qualityLeft{
        display: block;
        border: none;
        background-color: #ffffff00;
    }

    .qualityLeft img{
        width: 20px;
        height: auto;
    }
    
    .qualityRight{
        display: block;
        border: none;
        background-color: #ffffff00;
    }

    .qualityRight img{
        width: 20px;
        height: auto;
    }

    .choosePoints{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pointsImages img{
        width: 100%;
        height: auto;
    }

    .choosePointsItems{
        width: 20vw;
    }
}

@media screen and (max-width: 425px){
    .pointsDisplay{
        height: 70%;
    }

    .pointsPara{
        height: 50%;
    }

    .pointsImages{
        height: 50%;
    }

    .pointSentence{
        font-size: 14px;
    }
} 

@media screen and (min-width: 525px){
    .chooseItem{
        display: block;
    }
} 