.quality {
    width: 100%;
    height: 100vh;
    min-height: 730px;
    padding: 40px 7vw 0px 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Codec Cold Trial Regular";
}

.qualityHeading h1 {
    font-family: "Codec Cold Trial Heavy";
    font-size: 45px;
}

.qualityLeft {
    display: none;
}

.qualityRight {
    display: none;
}

.choosePoints {
    width: 100%;
    height: 100px;
}

.choosePointsItems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choosePointsItems li {
    height: 23px;
    list-style: none;
    position: relative;
}

.hover-underline-animation-quality::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background: #c16632;
    transform-origin: center;
    transition: transform 0.2s ease-out;
    z-index: 100;
}

.hover-underline-animation-quality:hover::after {
    transform: scaleX(1);
}

.selected-quality::after {
    transform: scaleX(1);
}

.chooseItem {
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    font-family: "Codec Cold Trial Heavy";
    cursor: pointer;
}

.pointsDisplay {
    width: 100%;
    height: 70%;
}

.pointsListContent {
    width: 100%;
    height: 100%;
    position: relative;
}

.pointsContent {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e6ceb5;
    list-style: none;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
}

.pointsPara {
    width: 35%;
    height: 100%;
    padding: 40px;
}

.pointSentence {
    width: 100%;
    line-height: 1.3;
    font-size: 20px; /* change font for different sizes */
}

.pointsImages {
    width: 65%;
    height: 100%;
    z-index: 1;
    text-align: center;
}

.pointsImages img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .quality {
        height: 90vh;
        min-height: 600px;
    }

    .pointsDisplay {
        padding-bottom: 20px;
    }

    .pointsPara {
        padding: 25px;
    }

    .pointSentence {
        font-size: 18px;
    }

    .pointsImages img {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 1075px) {
    .quality {
        height: 80vh;
        min-height: 600px;
    }

    .pointsDisplay {
        height: 65%;
        padding-bottom: 0px;
    }

    .pointsContent {
        border-radius: 30px;
    }

    .pointSentence {
        font-size: 14px;
    }

    .pointsImages img {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .qualityHeading h1 {
        font-size: 30px;
    }

    .chooseItem {
        font-size: 20px;
    }

    .pointsContent {
        border-radius: 25px;
    }

    .pointsPara {
        width: 50%;
    }

    .pointsImages {
        width: 50%;
    }
}

@media screen and (max-width: 636px) {
    .pointsDisplay {
        height: 75%;
        padding-bottom: 0px;
    }

    .quality {
        height: 100vh;
        min-height: 600px;
    }

    .pointsContent {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .pointsPara {
        width: 100%;
        height: 40%;
        min-height: 150px;
        padding: 20px;
    }

    .pointsImages {
        width: 100%;
        height: 60%;
        text-align: center;
    }

    .pointsImages img {
        width: auto;
        height: 100%;
    }

    .chooseItem {
        font-size: 17px;
    }
}

@media screen and (max-width: 525px) {
    .qualityHeading h1 {
        font-size: 30px;
    }

    .qualityLeft {
        display: block;
        border: none;
        background-color: #ffffff00;
    }

    .qualityLeft img {
        width: 20px;
        height: auto;
    }

    .qualityRight {
        display: block;
        border: none;
        background-color: #ffffff00;
    }

    .qualityRight img {
        width: 20px;
        height: auto;
    }

    .choosePoints {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pointsImages img {
        width: auto;
        height: 100%;
    }

    .choosePointsItems {
        width: 108px;
    }
}

@media screen and (max-width: 425px) {
    .pointsDisplay {
        height: 70%;
    }

    .pointsPara {
        height: 50%;
    }

    .pointsImages {
        height: 50%;
    }

    .pointSentence {
        font-size: 14px;
    }
}

@media screen and (min-width: 525px) {
    .chooseItem {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .pointsDisplay {
        height: 75%;
    }
}

@media screen and (max-width: 425px) {
    .quality {
        min-height: 490px;
        padding-top: 0px;
    }

    .choosePoints {
        height: 70px;
    }

    .pointSentence {
        font-size: 12px;
    }
}
